        @page {
            size: A4 portrait;
            margin: 0;
        }

      /*   .common-border {
            border: 1px solid black
        } */

        .body-text {
            color: #707070;
            font-weight: 100;
        }

        .logo-image {

            width: 105px;
            height: 22px;
            margin-top: 0px;
            margin-left: 55px;
            opacity: 1;
        }

        .page-footer {
           
            bottom: 0;
            width: 100%;
            text-align: center;
          
            margin: 0 auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .a4-container {
            width: 794px;
            min-height: 1120px;
            margin: 0 auto;
            padding: 30px;
            padding-top: 20px;
            padding-bottom: 10px;
            box-sizing: border-box;
            position: relative;
            letter-spacing: 1px;
            
            background-color:white;
            /* border: 1px solid black */
        }

        .page-title {
            font-size: 18px;
            margin-bottom: 15px;
            height: 35px;
            background-color: #efdfff;
            font-weight: 600;
            color: #707070;
             page-break-inside: avoid;
            /* padding-top: 5px; */
        }

        .card-container {
            margin-bottom: 20px;
            page-break-inside: avoid;

        }
        
        .counts-div{
			 font-size: 12px;
            color: #707070;
		}
		
		 .progress-text{
			 font-size: 14px;
            color: #707070;
		}
		
		  .consultant {
            margin-bottom: 10px;
        }

        .progress {
            height: 15px;
            margin-bottom: 5px;
        }

        .progress-bar {
            background-color: #9884e4;
            height: 100%;
            width: 0;
            text-align: center;
            line-height: 25px;
            color: white;
        }

        .card-title {
            font-size: 16px;
            font-weight: 600;
            color: #707070;
            margin-bottom: 5px;
        }

        .card-comment {
            font-size: 12px;
            color: #707070;
            margin-bottom: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .card-year {
            font-size: 16px;
            color: #707070;
            margin-bottom: 5px;
        }

        .card-text-whole {
            font-size: 14px;
            color: #707070;
        }

        .custom-text-blue {
            color: #0588D8;
        }

        /* card 1 css */

        .card1-custom-text-large {
            font-size: 2rem;
        }

        /* card 2 css */

        .card2-custom-text {

            font-size: 1rem;
            color: #0588D8;
            font-weight: 600;
            margin-left: 10px;
        }

        .card2-custom-text-small {
            font-size: 0.8rem;
            color: #0588D8;
        }

    

        .card3-custom-text-small {
            padding-top: 5px;
            font-size: 0.9rem;
            color: #707070;
            margin-right: 10px;
        }

     

        /* card 4 css */

        .card4-custom-text-small {
            padding-top: 5px;
            font-size: 0.9rem;
            color: #707070;

        }

        .custom-text4 {
            color: #707070;
            text-align: left;
            opacity: 1;
            font-size: 1rem;
        }

        .card5-large-text {
            color: #707070;
            text-align: center;
            opacity: 1;
            font-size: 1.1rem;
        }

        .card5-small-text {
            color: #707070;
            text-align: center;
            opacity: 1;
            font-size: 0.9rem;
        }

     

        .custom-blue-text {
            color: #0588D8;
            font-weight: 600;
        }

        .custom-text3 {
            font-size: 1.5rem;
        }

        .custom-text-percentage {
            font-size: 1.5rem;
            color: #0588D8;
            font-weight: 600;
            position: absolute;
            text-align: center;
        }

        @media print {
            .page-footer {
                position: fixed;
                bottom: 0;
                width: 100%;
                text-align: center;
            }
        }

       

        .chart-image {

            height: 150px;
            width: 150px;
        }