
        
        body{
            /* background: #080808; */
            color:#000000;
        }
     

        
   nav{
	   background-color: #fff;  
   }
     
       .btn.btn2 {
            display: inline-block;
             margin: 10px auto;
            width: fit-content;
            border: 1px solid #d6adff;
            padding: 14px 50px;
            border-radius: 6px;
            text-decoration: none;
            transition: background 0.5s;
            background: #d6adff;

        }

        .btn.btn2:hover {
            background: #5b4a6b;
            color: #ffffff;
        }   
      
    
     .btn-purple{
            display: block;
            margin: 30px auto;
            width: fit-content;
            border: 1px solid #d6adff;
            padding: 14px 50px;
            border-radius: 6px;
            text-decoration: none;
            color: #070707;
            transition: background 0.5s;
            background:none;
        
        }
        
        .btn-purple:hover{
            background: #d6adff;
        }
     
        /* .tab-contents{
            font-size: 14px;
        } */
     
        
        /* -------------services-------------- */
        
     



        /* ///////////////// */

        
     
      
     
        
      
        /* ----------------contact------------------- */
      
      

       




.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
  z-index: 5;
}
.sidebar header{
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
  text-decoration: none;
}
a.active{

    border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, #52d6f4, #c1b1f7);
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #d6adff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #e8d1ff;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   3.5px 3.5px 20px 0px rgba(0,0,0,.1),
   2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
  z-index: 5px;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}
@media(max-width : 860px){
  .sidebar{
    height: auto;
    width: 70px;
    left: 0;
    margin: 100px 0;
  }
  header,#btn,#cancel{
    display: none;
  }
 span{
    position: absolute;
    margin-left: 23px;
    opacity: 0;
    visibility: hidden;
  } 
  .sidebar a{
    height: 60px;
  }
  .sidebar a i{
    margin-left: -10px;
  }
  a:hover {
    width: 200px;
    color: #9884e4;
    background: inherit;
    z-index: 5;
    
  }
  .sidebar a:hover span{
    opacity: 1;
    visibility: visible;
  }
}

.sidebar > a.active,.sidebar > a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
}
.sidebar a.active,.sidebar > a:hover:nth-child(odd) {
  --accent-color: #c1b1f7;
  --gradient-color: #A890FE;
}



/* Style for the major categories */
/* .sidebar a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #333;
} */

/* Style for the dropdown container */
.sidebar .dropdown {
  position: relative;

  display: inline-block;
}

/* Style for the dropdown content (hidden by default) */
.sidebar .dropdown-content {
  display: none;
  position: absolute;
    left:100%;
    top:10%;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown content when hovering over the dropdown container */
.sidebar .dropdown:hover .dropdown-content {
  display: block;
  
}

.sidebar .dropdown:hover {
    border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, #52d6f4, #c1b1f7);
  
}
.sidebar .normal-content a:hover {
    border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, #52d6f4, #c1b1f7);
  
}

/* Style for the subcategory links */
.sidebar .dropdown-content a {
  color: #333;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* Change the background color of the dropdown links on hover */
.sidebar .dropdown-content a:hover {
 
   
    border-left: 5px solid var(--accent-color);
  color: #fff;
   background: linear-gradient(to left, #52d6f4, #c1b1f7);
}

