
    
    
    .container {
        
      margin: 150px auto;
      max-width: 1500px;
    
      
    }

    
    /* Search bar  */
    .searchbar {
      margin-bottom: 20px;
      justify-content: center;
      padding: 20px;
      background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);

    }
    
    .form-inline {
      display: flex;
      align-items: center;
    }
    
    .form-control[type="search"] {
      width:400px;
    
      margin-right: 10px; /* Add margin to create space between search bar and buttons */
    }
    
    .btn-outline-success {
      border-color:  #52d6f4;
      color: #1884a5;
    }
    
    .btn-outline-success:hover {
      /* background-color: #1884a5; */
      --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
      background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
      color: #fff;
      border-color:  #c1b1f7;
    }
    
    .btn-outline-success:focus,
    .btn-outline-success.focus {
      box-shadow:  #c1b1f7;
    }
    
    /* Table */

    .table {
      width: 80%;
      border-collapse: collapse;
      background-color: #f8f8f8;
      /* background-image: linear-gradient(30deg, #44a7fd, #107fc0); */
      /* background-color:linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .table th,
    .table td {
      padding: 10px;
    }
    
    .table thead th {
      background-color:#A890FE;
      color: #fff;
      height: 60px;
      margin-bottom: 100px;
    }
    
    .table tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    
    .table-hover tbody tr:hover {
      background-color: #d4eaff;
    }
    
    .btn-column {
      /* display: flex; */
      justify-content: center;
      align-items: center;
      padding: 0;
    }
    
    .btn-column button {
      margin: 0 5px;
      padding: 5px 10px;
      width:70px ;
      border-radius: 15px;
      font-size: 14px;
      cursor: pointer;
      
    }
   .logo-img{
height:45px;
width:45px;
margin-left:5px;
border-radius:10px;
}
 .btn-view {
      background-color: #2db6e0;
      color: #fff;
      border-color: #2db6e0;
    }
    
    .btn-view:hover {
      background-color: #136d8f;
      border-color: #136d8f;
    }
    
     .btn-reply {
      background-color: #2db6e0;
      color: #fff;
      border-color: #2db6e0;
      padding: 7px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius:15px;
      text-decoration: none;
      margin-top: 2px;
    }
    
    .btn-reply:hover {
      background-color: #136d8f;
      border-color: #136d8f;
    }
    
        .orange-btn{
      background-color: rgb(255, 128, 64);
      color: #fff;
      border-color: rgb(255, 128, 64);
      padding: 7px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius:15px;
      text-decoration: none;
      margin-top: 2px;
    }
    
    .orange-btn:hover {
      background-color: rgb(232, 75, 0);
      border-color: rgb(232, 75, 0);
    }    
        
    .btn-accept {
      background-color: #63c45d;
      color: #fff;
      border-color: #63c45d;
    }
    
    .btn-accept:hover {
      background-color: #449140;
      border-color: #4da249;
    }
    
        .btn-done {
      background-color: rgb(128, 128, 255);
      color: #fff;
      border-color: rgb(128, 128, 255);
    }
    
    .btn-done:hover {
      background-color: rgb(106, 106, 255);
      border-color: rgb(106, 106, 255);
    }
    
    .btn-delete {
      background-color: #e74c3c;
      color: #fff;
      border-color: #e74c3c;
    }
    
    .btn-delete:hover {
      background-color: #bd2918;
      border-color: #c23c2d;
    }
    

    /*  <!-- sidebar  -->*/
    *{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body{

 
  background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
}



#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #d6adff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #e8d1ff;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
   3.5px 3.5px 20px 0px rgba(0,0,0,.1),
   2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
  z-index: 5px;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.status-btn{
	background-color: #d3c6e8;
	padding: 2px;
	border-radius:5px;
}

.scroll-td::-webkit-scrollbar {
  width: 7px;
}

.scroll-td::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll-td::-webkit-scrollbar-thumb {
  background: #888;
}

.scroll-td::-webkit-scrollbar-thumb:hover {
  background: #555;
}
